<div class="project container-row">
  <div class="project__checkimage">
    <div class="project__checkimage-square">
      <div *ngIf="repositories.myList" (click)="toggleMyLine(repositories)" class="project__checkimage-image enable"> </div>
      <div *ngIf="!repositories.myList" (click)="toggleMyLine(repositories)" class="project__checkimage-image disable"> </div>
    </div>
  </div>
  <div class="project__text container-column">
    <div class="project__text-name">
      {{repositories.name}}
    </div>
    <div class="project__text-describe">
      {{repositories.description}}
    </div>
    <div class="project__text-taglist container-row">
      <div class="project__text-taglist-tag">
        Javascript
      </div>
      <div class="project__text-taglist-tag">
        cms
      </div>
    </div>
  </div>
  <div class="project__rating container-column">
    <div class="project__rating-block container-row">
      <img  class="project__rating-block-img" src="../../assets/star.png">
      <div class="project__rating-block-stars">{{repositories.stargazers_count}}</div>
    </div>
    <div class="project__rating-language">
      {{repositories.language}}
    </div>
  </div>
</div>
