<div class="prj container-column">
  <div class="prj__rating container-row">
    <div class="prj__rating-language">Javascript</div>
    <div class="prj__rating-block container-row">
      <img class="prj__rating-block-img" src="../../assets/star.png">
      <div class="prj__rating-block-stars">25k</div>
    </div>
  </div>
  <div class="prj__text container-column">
    <div class="prj__text-name">
      TryGhost/Ghost
    </div>
    <div class="prj__text-describe">
      The platform for professional publishers
    </div>
    <div class="prj__text-taglist container-row">
      <div class="prj__text-taglist-tag">
        Javascript
      </div>
      <div class="prj__text-taglist-tag">
        cms
      </div>
    </div>
  </div>
  <div class="prj__button container-column">
    <button class="prj__button-add"><p class="prj__button-add-text">ADD TO LIST</p></button>
    <button class="prj__button-delete"><p class="prj__button-delete-text"> REMOVE FROM LIST</p></button>
  </div>
</div>
