.main {
  width: 960px;
  margin: 0 auto;
  &__menu {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #E1E4E8;
  }
}

.container {
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-row {
    display: flex;
    flex-direction: row;
  }
}

.main__menu-block {
  color: #E0E0E0;
  margin: 27px 12px 0 0;

}

.main__menu-list {
  color: #3C4146;
  margin-top: 27px;
}


.project {
  height: 164px;
  border-bottom: 1px solid #E1E4E8;
  &__checkimage {
    margin-top: 33px;
    &-square {
      width: 20px;
      height: 20px;
      border: 1px solid #0366D6;
      box-sizing: border-box;
    }
    &-image {
      width: 10px;
      height: 10px;
      margin: 4px 4px 4px 4px;
      background-color: #0366D6;
    }
  }
  &__text {
    margin: 29px 0 0 14px;
    &-name {
      font-size: 2.2rem;
      font-weight: bold;
      color: #0366D6;
    }
    &-describe {
      font-size: 1.45rem;
      margin-top: 4px;
    }
    &-taglist {
      margin-top: 21px;
      &-tag {
        width: 77px;
        height: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        background-color: #F1F8FE;
        font-size: 1.2rem;
      }
      &-tag:not(:first-child) {
        margin-left: 11px;
      }
    }
  }
  &__rating {
    margin: 13px 0 0 574px;
    &-block {
      &-img {

      }
      &-stars {
        margin: 4px 0 0 9px;
        font-size: 1.8rem;
        color: #3C4146;
      }
    }
    &-language {
      margin-top: 94px;
      font-size: 1.45rem;
      color: #999999;
    }
  }
}
