<div class="main">
  <div class="search container-row">
    <select class="search__rep">
      <option></option>
      <option>Пункт 1</option>
      <option>Пункт 2</option>
    </select>
    <select class="search__lang">
      <option></option>
      <option>Пункт 1</option>
      <option>Пункт 2</option>
    </select>
    <input  class="search__input" type="text" >
    <div class="q">
      <button class="search__btn"><p class="search__btn-text">SEARCH</p></button>
    </div>
  </div>
</div>
