<div class="main">
  <div class="search container-row">
    <select [(ngModel)]="type" class="search__rep">
      <option>Type</option>
      <option>repositories</option>
    </select>
    <select [(ngModel)]="language" class="search__lang">
      <option *ngFor="let item of langArray">{{item}}</option>
    </select>
    <input [(ngModel)]="query" class="search__input" placeholder="Type here for search" type="text">
    <div class="q">
      <button class="search__btn" (click)="clickSearch()"><p class="search__btn-text">SEARCH</p></button>
    </div>
  </div>
  <app-list></app-list>
</div>
