.main {
  width: 960px;
  margin: 0 auto;
}

.container {
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-row {
    display: flex;
    flex-direction: row;
  }
}

.search {
  justify-content: space-between;
}

.input-theme{
  border-bottom-color: #0366D6;
}

//.material-icons .md-light {
//  color: #3C4146;
//}
//.material-icons .md-light .md-inactive{
//  color: black;
//}
